body {
    margin: 0px;
}

h1 {
    color: blue;
}

ul {
    list-style: none;
    padding: 0px;
    background-color: lightblue;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

li a:hover {
    background-color: white;
}

button {
    margin: 10px;
    /* 設置元素的邊緣大小 */
    padding: 10px;
    /* 設置元素的內邊距大小 */
    border: 2px solid #ff0000;
    /* 設置元素的邊框，並將顏色設置為紅色 */
    background-color: #0bb3dd;
    /* 設置元素的背景顏色為白色 */
    background: rgb(61, 5, 167);
}